/* style.css */
.jumbotron {
    padding: 6rem 2rem;
    margin-bottom: 2rem;
    background-color: #343a40; /* <-- Warna abu-abu gelap */
    border-radius: .3rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('img/Logo.jpg');
    background-size: cover;
    background-position: center;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.product-item {
    transition: transform 0.2s ease-in-out;
}

.product-item:hover {
    transform: scale(1.03);
}

#cart-items-container .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#cart-items-container .quantity-controls {
    display: flex;
    align-items: center;
}

#cart-items-container .quantity-controls button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-items-container .quantity-controls span {
    margin: 0 10px;
    min-width: 20px;
    text-align: center;
}